* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #060b18, #0b1225);
  color: white;
  display: flex;
  justify-content: center;
}
